


.pianokeys{
   margin-top: 150px;
margin-left: 10%;

}
.key{

    background-color: black;
    display: inline-block;
    transition: all 0.7ms;
    height: 200px;
    position: absolute;

}

.keywhite{
    height: 300px;
    width: 50px;
    background-color: white;
    display: inline-block;
    transition: all 0.7ms;
    margin-left: -5px;
    z-index: -1;
}


.playing{
    transform: scale(1.1);

    box-shadow: 0 0 10px rebeccapurple;
    
}

.buttonposition{
   padding-left: 60%;
}